body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin: 2em 5em;
}
h1 {
  font-size: 4em;
  color: #2fb77c;
  font-weight: 300;
  margin: 0;
}
.address {
  font-size: 1.2em;
}
.fa {
  font-size: 2em !important;
  color: #2fb77c;
}
section.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section .address {
  color: rgba(0,0,0,0.5);
}
section .grid {
  display: grid;
  width: 50vw;
  grid-template-columns: 1fr 1fr;
}
section .tag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.job,
.education {
  display: flex;
  font-size: 2em;
}
.job:nth-child(n+4),
.education:nth-child(n+4) {
  color: rgba(0,0,0,0.5);
  font-size: 1.5em;
  padding: 0 1em;
}
.job:nth-child(-n+3),
.education:nth-child(-n+3) {
  font-weight: bold;
}
.job .when,
.education .when,
.job .what,
.education .what {
  flex: 1;
  padding: 0.25em 1em;
}
.job .when,
.education .when {
  text-align: right;
  padding-right: 1.25em;
}
.job .what,
.education .what {
  text-align: left;
  padding-left: 1.25em;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading h2 {
  margin: 2em 1em;
  white-space: nowrap;
}
.heading .line {
  height: 2px;
  width: 100%;
  background-color: #2fb77c;
}
.courses {
  text-align: center;
}
.courses .course {
  font-size: 1.5em;
  padding: 0.5em;
}
